{% extends "@Pluginwebportal/Master/PortalTemplate.html.twig" %}

{% block navbarButtons %}
    {% if fsc.contact %}
        <a href="{{ constant('FS_ROUTE') }}/ShoppingCart" class="btn">
            <i class="fas fa-shopping-cart"></i>
        </a>
        &nbsp;
    {% endif %}
    {{ parent() }}
{% endblock %}